/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define FUNC 3
#define GAME 4

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "BASE";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│  ESC     │  Q       │  W       │  E       │  R       │  T       │             │  Y       │  U       │  I       │  O       │  P       │  BKSP    │
                                     &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T                    &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  TAB     │  A       │  S       │  D       │  F       │  G       │             │  H       │  J       │  K       │  L       │  ;       │ '        │
                                     &kp TAB  &kp A      &kp S      &kp D      &kp F      &kp G                    &kp H      &kp J      &kp K      &kp L      &kp SEMI  &kp SQT
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  SHIFT   │  Z       │  X       │  C       │  V       │  B       │             │  N       │  M       │  ,       │  .       │  /       │ ALT      │
                                     &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B                    &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH  &kp RALT
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                  &kp LGUI  &kp LCTRL  &lt NUM SPACE          &lt SYM BSPC  &lt FUNC RET  &kp LSHFT
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                number_layer {
                        label = "NUM";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│          │  1       │  2       │  3       │  4       │  5       │             │  6       │  7       │  8       │  9       │  0       │ BKSP     │
                                    &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                   &kp N6     &kp N7     &kp N8     &kp N9     &kp N0    &kp BSPC
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │  LSHFT   │   LCTRL  │   LALT   │   LGUI   │          │             │  *       │  4       │  5       │  6       │  +       │ =        │
                                     &trans   &kp LSHFT  &kp LCTRL   &kp LALT   &kp LGUI     &trans              &kp KP_MULTIPLY &kp N4    &kp N5      &kp N6     &kp PLUS  &kp EQUAL
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │          │          │          │  console │    F2    │             │  /       │  1       │  2       │  3       │  -       │          │
                                   &trans     &trans      &trans      &trans      &kp F12    &kp F2                  &kp FSLH    &kp N1     &kp N2      &kp N3    &kp MINUS  &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                     &kp LGUI   &trans    &kp SPACE                 &kp BSPC    &kp DOT    &kp N0
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                symbol_layer {
                        label = "SYM";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│  `       │  !       │  @       │  #       │  $       │  %       │             │  ^       │  &       │  *       │  (       │  )       │ BKSP     │
                                   &kp GRAVE   &kp EXCL  &kp AT     &kp HASH    &kp DLLR   &kp PRCNT            &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR   &kp BSPC
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │  ~       │  #       │  /       │  {       │  [       │             │  ]       │  }       │  \       │  -       │  +       │ |        │
                                     &trans    &kp TILDE  &kp HASH  &kp FSLH   &kp LBRC    &kp LBKT                &kp RBKT    &kp RBRC  &kp BSLH    &kp MINUS  &kp PLUS   &kp PIPE
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │          │          │          │          │          │             │          │          │          │  _       │  =       │          │
                                      &trans     &trans    &trans     &trans    &trans      &trans                   &trans     &trans     &trans     &kp UNDER  &kp EQUAL &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                     &kp LGUI   &trans     &kp SPACE                &kp BSPC    &trans    &kp LSHFT
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                
                function_layer {
                        label = "FUNC";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│          │          │  prev    │   next   │play/pause│GAME LAYER│             │          │  PGUP    │          │          │  HOME    │ DEL      │
                                     &trans    &trans    &kp C_PREV &kp C_NEXT  &kp C_PP  &tog GAME                   &trans  &kp PG_UP   &trans    &trans     &kp HOME     &kp DEL
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │  LSHFT   │   LCTRL  │   LALT   │   LGUI   │screen cap│             │          │  LFT     │  DWN     │  UP      │  RGT     │          │
                                    &trans  &kp LSHFT  &kp LCTRL   &kp LALT   &kp LGUI   &kp LC(UP)                &trans    &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT   &trans
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │          │          │          │          │   gif    │             │          │  PGDWN   │          │          │   END    │          │
                                     &trans     &trans    &trans   &trans   &trans    &kp LC(DOWN)                 &trans     &kp PG_DN  &trans     &trans    &kp END     &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                     &kp LGUI   &trans     &kp SPACE                &kp BSPC    &trans     &kp LSHFT
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                game_layer {
                        label = "GAME";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│  ESC     │  Q       │  W       │  E       │  R       │  T       │             │GAME LAYER│          │          │          │          │          │
                                     &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T                  &tog GAME   &trans      &trans      &trans     &trans    &trans
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  TAB     │  A       │  S       │  D       │  F       │  G       │             │          │          │          │          │          │          │
                                     &kp TAB  &kp A      &kp S      &kp D      &kp F      &kp G                      &trans     &trans      &trans     &trans    &trans  &trans
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  SHIFT   │  Z       │  X       │  C       │  V       │  B       │             │          │          │          │          │          │          │
                                     &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B                    &trans     &trans     &trans     &trans    &trans     &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                    &lt NUM M   &kp LCTRL   &kp SPACE                  &trans     &trans     &trans
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };


        };
};
