/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define BASE 0
#define NUM 1
#define SYM 2
#define FUNC 3

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        label = "BASE";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│  ESC     │  Q       │  W       │  E       │  R       │  T       │             │  Y       │  U       │  I       │  O       │  P       │  BKSP    │
                                     &kp ESC    &kp Q      &kp W      &kp E      &kp R      &kp T                    &kp Y      &kp U      &kp I      &kp O      &kp P      &kp BSPC
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  TAB     │  A       │  S       │  D       │  F       │  G       │             │  H       │  J       │  K       │  L       │  ;       │ '        │
                                     &kp TAB  &kp A      &kp S      &kp D      &kp F      &kp G                    &kp H      &kp J      &kp K      &kp L      &kp SEMI  &kp SQT
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  SHIFT   │  Z       │  X       │  C       │  V       │  B       │             │  N       │  M       │  ,       │  .       │  /       │ ENTER    │
                                     &kp LSHFT  &kp Z      &kp X      &kp C      &kp V      &kp B                    &kp N      &kp M      &kp COMMA  &kp DOT    &kp FSLH  &kp RET
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                  &kp LGUI  &kp LCTRL  &lt NUM SPACE     &lt SYM BSPC  &lt FUNC RET  &kp RALT
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                number_layer {
                        label = "NUM";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│          │  1       │  2       │  3       │  4       │  5       │             │  6       │  7       │  8       │  9       │  0       │ BKSP     │
                                     &trans     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5                   &kp N6     &kp N7     &kp N8     &kp N9     &kp N0    &kp BSPC
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│  BTCLR   │  BT1     │  BT2     │  BT3     │sharex cap│          │             │  *       │  4       │  5       │  6       │  +       │ =        │
                                &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &kp LC(UP) &trans              &kp KP_MULTIPLY &kp N4    &kp N5      &kp N6     &kp PLUS  &kp EQUAL
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │          │          │          │sharex gif│          │             │  /       │  1       │  2       │  3       │  -       │          │
                                     &trans     &trans      &trans   &trans    &kp LC(DOWN) &trans                  &kp FSLH    &kp N1     &kp N2      &kp N3    &kp MINUS  &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                     &kp LGUI   &trans    &kp SPACE                 &kp BSPC    &kp DOT    &kp N0
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                symbol_layer {
                        label = "SYM";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│  `       │  !       │  @       │  #       │  $       │  %       │             │  ^       │  &       │  *       │  (       │  )       │ BKSP     │
                                   &kp GRAVE   &kp EXCL  &kp AT     &kp HASH    &kp DLLR   &kp PRCNT            &kp CARET  &kp AMPS  &kp KP_MULTIPLY  &kp LPAR   &kp RPAR   &kp BSPC
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │  ~       │  #       │  /       │  {       │  [       │             │  ]       │  }       │  \       │  -       │  +       │ |        │
                                     &trans    &kp TILDE  &kp HASH  &kp FSLH   &kp LBRC    &kp LBKT                &kp RBKT    &kp RBRC  &kp BSLH    &kp MINUS  &kp PLUS   &kp PIPE
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │          │          │          │          │          │             │          │          │          │  _       │  =       │          │
                                      &trans     &trans    &trans     &trans    &trans      &trans                   &trans     &trans     &trans     &kp UNDER  &kp EQUAL &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                     &kp LGUI   &trans     &kp SPACE                &kp BSPC    &trans     &kp RALT
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };

                
                function_layer {
                        label = "FUNC";
                        bindings = <
                                //╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮             ╭──────────┬──────────┬──────────┬──────────┬──────────┬──────────╮
                                //│          │   F1     │  F2      │  F3      │  F4      │          │             │          │  PGUP    │          │          │  HOME    │ DEL      │
                                     &trans     &kp F1     &kp F2     &kp F3      &kp F4    &trans                   &trans     &kp PG_UP   &trans    &trans     &kp HOME     &kp DEL
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │   F5     │  F6      │  F7      │  F8      │          │             │          │  LFT     │  DWN     │  UP      │  RGT     │          │
                                     &trans    &kp F5      &kp F6     &kp F7     &kp F8     &trans                   &trans    &kp LEFT   &kp DOWN    &kp UP    &kp RIGHT   &trans
                                //├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤             ├──────────┼──────────┼──────────┼──────────┼──────────┼──────────┤
                                //│          │   F9     │  F10     │  F11     │  F12     │          │             │          │  PGDWN   │          │          │   END    │          │
                                     &trans     &kp F9      &kp F10   &kp F11     &kp F12   &trans                   &trans     &kp PG_DN  &trans     &trans    &kp END     &trans
                                //╰──────────┴──────────┴──────────┼──────────┼──────────┤──────────┤             ├──────────┼──────────┼──────────┼──────────┴──────────┴──────────╯
                                                                     &kp LGUI   &trans     &kp SPACE                &kp BSPC    &trans     &kp RALT
                                //                                 ╰──────────┴──────────┴──────────╯             ╰──────────┴──────────┴──────────╯
                        >;
                };


        };
};
